* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
}


.navbar {
  position: fixed;
  /* Position Navbar relative to the viewport */
  z-index: 9999;

  top: 0;
  /* Position Navbar at the top of the viewport */
  left: 0;
  /* Position Navbar at the left of the viewport */
  width: 100%;
  /* Set Navbar width to 100% of the viewport */
}

.leaflet-control-layers {
  background-color: black;
  color: #000000;
}

.custom-layers-control {
  background-color: white;
  color: #000000;
}

.map-container {
  position: relative;
}

p {
  color: #000000;
}

/* Search Feature */
.search-box {
  position: absolute;
  top: 80px;
  /* Adjust the top position as needed */
  left: 80px;
  /* Adjust the left position as needed */
  z-index: 1000;
  /* Ensure the search box appears above the map */
  border-radius: 50px;
}

.search-box input {
  margin-right: 5px;
  /* Adjust the width as needed */
  padding: 5px;
  font-size: 14px;
  border: none;
  outline: none;
}

.search-box div {
  background-color: #fff;
  border: 2px solid #ccc;
  border-top: none;
  max-height: 200px;
  /* Adjust the maximum height as needed */
  overflow-y: auto;
}

/* .search-box div>div {
  padding: 10px;
  cursor: pointer;
} */

.search-box div>div:hover {
  background-color: #f2f2f2;
}